<div class="col-2">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingPython">
          <button class="accordion-button collapsed sidebar-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePython" aria-expanded="true" aria-controls="collapsePython">
            Python Integration Example
          </button>
        </h2>
        <div id="collapsePython" class="accordion-collapse collapse" aria-labelledby="headingPython" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            This calculator is a small example of how you can integrate another programming language into your node programs, in this case a Python script <br>
            <a href="/python" class="btn btn-primary">Go to page</a>
          </div>
        </div>
      </div>

        <!-- TEMPLATING -->
        <% let i = 0 %>
        <% result.forEach(function(results) { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%=result[i].titleData%>">
            <button class="accordion-button collapsed sidebar-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=result[i].titleData%>" aria-expanded="true" aria-controls="collapse<%=result[i].titleData%>">
              <%= result[i].title %>
            </button>
          </h2>
          <div id="collapse<%=result[i].titleData%>" class="accordion-collapse collapse" aria-labelledby="heading<%=result[i].titleData%>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <ul>
                <% result[i].tags.forEach(function(tag) { %>
                <li><strong> <%= tag %> </strong></li>

                <% }) %>
              </ul>

              <a href="/pages/<%=result[i].title%>" class="btn btn-primary">Go to page</a>
              <% if (loggedIn) { %>
              <a href="/edit/<%=result[i].title%>" class="btn btn-warning">Edit</a>
              <a id="<%=result[i].title%>" class="btn btn-danger">Delete</a>
              <% } %>
            </div>
          </div>
        </div>
        <% i += 1}) %>


      </div>
</div>

<% if (loggedIn) { %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

$('.btn-danger').click((e) => {
  console.log(e.target)
})



  
</script>
<% } %>