<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header') %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar', {variant:'result'}) %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <div class="row">

            <div class="col">
              <!-- Form for new page creation -->
              <div class="container" style="margin-right: 12.5%;">
                <form style="margin-bottom: 2%;">
                  <div class="form-group" style="margin-bottom: 2%;">
                    <label for="title"> <strong>Page Title</strong> </label>
                    <input type="text" name="pageTitle" class="form-control" id="title" value="<%= resultToInsert[0].title %>">
                  </div>
                  <div class="form-group">
                    <label for="textArea"> <strong>Page Content</strong> (HTML based) </label>

                    <!-- bunch of icons -->
                    <div>
                      <p class="btn btn-secondary btn-sm" id="h1Button" onclick="insertAtCaret('textArea', '<h2></h2>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-h2" viewBox="0 0 16 16">
                          <path d="M7.638 13V3.669H6.38V7.62H1.759V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.022-6.733v-.048c0-.889.63-1.668 1.716-1.668.957 0 1.675.608 1.675 1.572 0 .855-.554 1.504-1.067 2.085l-3.513 3.999V13H15.5v-1.094h-4.245v-.075l2.481-2.844c.875-.998 1.586-1.784 1.586-2.953 0-1.463-1.155-2.556-2.919-2.556-1.941 0-2.966 1.326-2.966 2.74v.049h1.223z"/>
                        </svg>
                      </p>
        
                      <p class="btn btn-secondary btn-sm" id="italicButton" onclick="insertAtCaret('textArea', '<em></em>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-italic" viewBox="0 0 16 16">
                          <path d="M7.991 11.674L9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z"/>
                        </svg>
                      </p>
        
                      <p class="btn btn-secondary btn-sm" id="boldButton" onclick="insertAtCaret('textArea', '<strong></strong>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-bold" viewBox="0 0 16 16">
                          <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z"/>
                        </svg>
                      </p>
        
                      <p class="btn btn-secondary btn-sm" id="listButton" onclick="insertAtCaret('textArea', '<ul></ul>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                      </p>

                      <p class="btn btn-secondary btn-sm" id="listButton" onclick="insertAtCaret('textArea', '<li></li>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                      </p>

                      <p class="btn btn-secondary btn-sm" id="h1Button" onclick="insertAtCaret('textArea', '<img src= alt=>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                        </svg>
                      </p>
        
                      <p>H1 is used internally, so h1 should be avoided, instead use H2 for section 'titles'</p>
                    </div>
                    
                    <textarea class="form-control" name="pageContent" id="textArea" rows="12"><%= resultToInsert[0].content %></textarea>

                    <div class="form-group" style="width: 25%;">
                      <label for="tags"> <strong>Tags</strong> </label>
                      <input type="text" name="pageTags" class="form-control" id="tags" placeholder="Functions">
                    </div>

                  </div>
                </form>
                <div id="showTags" hidden style="margin-bottom: 1%;"></div>
                <button id="submitButton" class="btn btn-primary" style="font-size: 1.2rem;">Submit</button>
              </div>
            </div>

            <div class="col" style="border: black solid 1px; height: 100%">
              <div>
                <h1 id="titlePreview" style="text-align: center;">PREVIEW</h1>
              </div>
              <div id="contentPreview" >

              </div>
            </div>

        </div>
        

        <h1 style="margin-left: 25%; margin-top: 10%;">How to make new pages</h1>

        <img src="/imgs/tutorial.png" alt="" style="width: 50%; margin-left: 15%;">

        <ol>
          <li>Here you make the title that appears at the top middle of the page. Syntax is 'Session (whatever you want here)'. Remember the space</li>
          <li>The text area takes plain HTML, theres buttons for your convinience</li>
          <li>Lastly the tag area. Here you type a tag, press enter, and the tag is added. Tags are used in the sidebar when a page is created</li>
        </ol>
      
      
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  let tagsList = []
  //Tags section
  $('#tags').keypress((e) => {

    if (e.key === "Enter") {
      const inputVal = $('#tags').val()
      tagsList.push(inputVal)
      $('#showTags').attr('hidden', false)
      $('#showTags').append(`<button class="btn btn-secondary" style="margin-right: 5px; margin-bottom: 5px">  ${inputVal} </button>` )
      // Need to fix this line, wont clear input upon enter pressed
      $('#tags').value = ""
    }
  })

  //Post for form data
  $('#submitButton').click( async () => {
    const pageTitle = $('#title').val()
    const pageContent = $('#textArea').val()
    const pageTags = tagsList

    const data = {
      pageTitle: pageTitle,
      pageContent: pageContent,
      pageTags: pageTags
    }

    console.log(data)

    await fetch("https://mandatory-assignment-nodejs.herokuapp.com/pages", {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })

    window.location = '/'
    
    
  })

  function insertAtCaret(areaId, text) {
		var txtarea = document.getElementById(areaId);
		var scrollPos = txtarea.scrollTop;
		var strPos = 0;
		var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
			"ff" : (document.selection ? "ie" : false ) );
		if (br == "ie") { 
			txtarea.focus();
			var range = document.selection.createRange();
			range.moveStart ('character', -txtarea.value.length);
			strPos = range.text.length;
		}
		else if (br == "ff") strPos = txtarea.selectionStart;
	
		var front = (txtarea.value).substring(0,strPos);  
		var back = (txtarea.value).substring(strPos,txtarea.value.length); 
		txtarea.value=front+text+back;
		strPos = strPos + text.length;
		if (br == "ie") { 
			txtarea.focus();
			var range = document.selection.createRange();
			range.moveStart ('character', -txtarea.value.length);
			range.moveStart ('character', strPos);
			range.moveEnd ('character', 0);
			range.select();
		}
		else if (br == "ff") {
			txtarea.selectionStart = strPos;
			txtarea.selectionEnd = strPos;
			txtarea.focus();
		}
		txtarea.scrollTop = scrollPos;
	}

  //Page title preview update
  $('#title').on('keyup', () => {
    $('#titlePreview').html($('#title').val())
  })

  //Content preview update
  $('#textArea').on('keyup', () => {
    $('#contentPreview').html($('#textArea').val())
  })
</script>

<!-- Footer Component -->
<%- include('../partials/footer') %>