<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header', {variant:'themeButtonText'}) %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar', {variant:'result'}) %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <h1 style="margin-left: 32.5%;"> <%= pageContent[0].title %> </h1>

        <%- pageContent[0].content %>

      </div>
    </div>
</div>

<!-- Footer Component -->
<%- include('../partials/footer') %>